# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo / Metro
.expo/
.expo-shared/
.expo-dev-cache/
.expo-web-cache/
.expo-go/
dist/
web-build/
expo-env.d.ts
.packager/
.metro-health-check*

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# logs
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# OS / tools
.DS_Store
Thumbs.db
*.pem

# local env files
.env*.local
.env*

# typescript
*.tsbuildinfo

# generated native folders
/ios
/android
/android/app/build/
ios/build/
ios/Pods/

# EAS
.eas/

# caches
.cache/
.temp/
.tmp/

package-lock.json